.container {
    width: 1280px;
    margin: auto;
    margin-top: 63px;
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
}

.chenge {
    height: 40px;
    background-color: var(--chenge_background-color);
    border: 0;
    cursor: pointer;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.18) inset;

}

.size-title {
    font-size: 80px;
    color: #000;
    text-decoration: none;
}

.color-title {
    color: var(--color-title_color);
}

.header-titles {
    background: var(--header-titles_background);
    height: 72px;
    margin-top: 38px;
    margin-bottom: 48px;
    display:flex;
    justify-content: center;
}

.header-title:hover {
    background: var(--header-title_hover-background);
}

.header-title {
    border-left: 1px solid #fff;
    list-style-position: outside;
    padding: 26px 38px 19px;
}

.header-title:last-child {
    border-right: 1px solid #fff;
}

.item-title {
    font-size: 24px;
    color:#fff;
    text-decoration: none;
}

.content-container {
   display: flex;
   justify-content: space-between;
}

.navigation {
    width: 344px;
    height: 400px;
    border: 1px solid #000000;
}

.navigation-item {
    height: 53px;
    padding: 27px 0px 0px 44px;
}

.navigation-item:hover {
    background: var(--navigation-item_hover-background);
    padding-left: 80px;
}

.navigation-link {
    font-size: 27px;
    color: var(--navigation-link-color);
    text-decoration: none;
}

.content-img {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

img {
   transition: transform 1s;
}

.content-img:hover img {
    transform: scale(1.1);
}

.text {
    width: 885px;
    font-size: 18px;
    color: #2c2c2c;
}

.text1 {
    margin-bottom: 34px;
}

.text2 {
    margin-bottom: 54px;
}

.footer-container {
    height: 69px;
    background: var(--footer-container_background);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-navigation {
    display: flex;
    justify-content: flex-start;
}

.footer-item {
    margin: 20px 0px 0px 40px;
}

.footer-link {
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-link:hover {
    color: var(--footer-link_hover-color);
    padding-bottom: 13px;
    border-bottom: 1px solid;
}
.footer-copyright {
    margin: 24px 40px 0px 0px;
    font-size: 24px;
    color: #010101
}

:root {
    --chenge_background-color: #4bcaff;
    --color-title_color: #4bcaff;
    --header-titles_background: #35444f;
    --header-title_hover-background: #222f3a;
    --navigation-item_hover-background: #dbdbdb;
    --navigation-link-color: #485863;
    --footer-container_background:rgba(99, 105, 110, 0.48);
    --footer-link_hover-color: #3181a6;
}

:root[theme='color-theme'] {
    --chenge_background-color: #f460d9;
    --color-title_color: #f460d9;
    --header-titles_background: #43283a;
    --header-title_hover-background: #5c4558;
    --navigation-item_hover-background: #c1b7c1;
    --navigation-link-color: #634861;
    --footer-container_background: rgba(110, 99, 110, 0.48);
    --footer-link_hover-color: #a74395;

}